@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<h1>Role manager</h1>

<form method="post" asp-action="AddRole" asp-controller="RoleManager">
    <div class="input-group">
        <input name="roleName" class="form-control w-25" />
        <span class="input-group-btn">
            <button class="btn btn-success">Add role</button>
        </span>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <div>

                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    
                    <form method="post" asp-action="DeleteRole" asp-controller="RoleManager">
                        <input type="hidden" name="id" value="@role.Id" />
                        <button class="btn btn-danger m-1">Delete</button>
                    </form>
                    <a asp-action="UpdateRole" asp-controller="RoleManager" asp-route-id="@role.Id" class="btn btn-primary">Update</a>
                    
                </td>

                </div>
            </tr>
        }
    </tbody>
</table>
